body{
    background-color: #efeff4;
}
p.validation {
    color: red;
    line-height: 2rem;
    font-size: 1.6rem;
    margin-top: 1rem;
    padding-left: 8.5rem;
}

.button {
    text-align: center;
    height: 4.4rem;
    position: absolute;
    border: 1.8rem;
    left: 0;
    right: 0;
    padding: 0 1.5rem;
}

.button a {
    border-radius: .4rem;
    background-color: #ff9900;
    color: #fff;
    width: 100%;
    -webkit-appearance: none;
    border: 0;
    height: 100%;
    font-size: 1.8rem;
    display: inline-block;
    line-height: 4.4rem;
}
.main_content {
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.per_info {
    background-color: #fff;
    border-top: 1px solid #e5e5e5;
}
.info_list {
    border-bottom: 1px solid #e5e5e5;
    padding: 1.4rem 0 1.4rem 1.5rem;
    line-height: 2rem;
}
.info_list label {
    float: left;
    width: 8rem;
    display: block;
    font-size: 1.6rem;
}
.info_list p {
    padding-left: 8.5rem;
    padding-right: 1rem;
}
.info_list p input {
    font-size: 1.6rem;
    width: 100%;
    border: 0;
}
input.address {
    background: url(../img/arrow.png) no-repeat;
    background-position: right center;
}
/* 弹窗 */
.alert_div {
     display: none; 
    width: 31rem;
    background-color: #FFFFFF;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -15.5rem;
    margin-top: -5.9rem;
    z-index: 110;
    border-radius: 5px;
}
.alert_div .content {
    text-align: center;
    height: 5.2rem;
    padding-top: 2.3rem;
}
.alert_div .content p {
    margin-bottom: 1rem;
}
.alert_div .confirm_bt {
    height: 4.2rem;
    display: flex;
    display: -webkit-flex;
    border-top: 1px solid #E6E6E6;
}
.alert_div .confirm_bt a {
    display: block;
    flex: 1;
    height: 100%;
    line-height: 4.2rem;
    text-align: center;
    font-size: 1.6rem;
}
.alert_div .confirm_bt .cancel {
    border-right: 1px solid #E6E6E6;
}
.alert_div .confirm_bt .confirm {
    color: #FF9900;
}