body {
  background-color: #efeff4;
  font-size: .32rem;
  padding-bottom: 0;
}
input {
  -webkit-appearance: none;
}
input {
  -webkit-appearance: none;
}
.height {
  width: 100%;
  height: 1.2rem;
  background-color: #f0f0f0;
}
.info_enter {
  padding: 3.88rem .3rem 0;
  background: url(../img/logo.png) no-repeat;
  background-position: center -0.5rem;
  background-size: 5.72rem 5.3rem;
}
.info_list {
  height: 1.1rem;
  line-height: 1.1rem;
  border-radius: .08rem;
  background: #FFFFFF;
  padding: 0 .34rem 0 .32rem;
  margin-bottom: 1px;
}
.info_list .txt {
  color: #666666;
  display: inline-block;
  width: 1.2rem;
  font-size: .32rem;
  font-family: 华文细黑;
}
.info_list input {
  font-size: .32rem;
  border: 0;
  width: 2.8rem;
}
.yan {
  /*background: url(../img/yaoshi.png) no-repeat;
  background-size: 1.8rem 1.8rem;
  background-position: 1rem center;*/
}
#login {
  opacity: .4;
}
.clickable {
  opacity: 1!important;
}
.rtBox {
  float: right;
  width: 2rem;
  height: .72rem;
  margin-top: .2rem;
  border-radius: .08rem;
}
.smsBtn {
  font-size: .28rem;
  line-height: .72rem;
  background: #ff9900;
  text-align: center;
  color: #FFFFFF;
}
.login_bt {
  text-align: center;
}
.login_bt input {
  background-color: #ff9900;
  border: 0;
  color: #fff;
  width: 100%;
  height: .98rem;
  font-size: .36rem;
  border-radius: 0.08rem;
}
/*.code {
  display: none;
  z-index: 101;
  background-color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 6.2rem;
  margin-left: -3.1rem;
  margin-top: -.12rem;
  border-radius: 0.04rem;
  padding-top: 0.14rem;
  overflow: hidden;
}*/
.verification {
  height: 1.06rem;
  line-height: 1.06rem;
  padding: 0 .22rem;
  border-bottom: 1px solid #e6e6e6;
}
.verification input {
  height: 100%;
  border: 0;
  vertical-align: top;
  font-size: .24rem;
}
.count {
  border: none;
  opacity: .4;
}
/*.ok {
  width: 100%;
  text-align: center;
  background-color: #fff;
  border: 0;
  height: .84rem;
  font-size: .3rem;
}*/
.validationFrame {
  height: .9rem;
  line-height: .9rem;
  font-size: .28rem;
}
.agreement {
  text-align: center;
  margin-top: .3rem;
  font-family: 黑体;
  font-size: .24rem;
  color: #666666;
}
.agreement a {
  color: #ff9900;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #bdbdbd;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #bdbdbd;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #bdbdbd;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #bdbdbd;
}
