body{
    background-color: #f0f0f5;
    padding-bottom: 5rem;
    position: relative;
}
.right {
    float: right;
}
.left{
    float:left;
}

header {position: relative;}
header h1 img {width: .8rem;height: .4rem;margin-left: .6rem;}
#rl-layer {position: fixed;left: 0;right:0;bottom:0;background-color:#000000;z-index:90;-moz-opacity: 0.3;opacity:.30;filter: alpha(opacity=30);display: none;}

/*预约详情*/
.order_statu {
    background: url(../img/orderbg.png) no-repeat;
    padding: .9rem 1.5rem 0;
    height: 7rem;
    background-size: 100% 100%;
}

.order_statu p {
    color: #ffe3b8;
}

.order_statu h3 {
    font-size: 1.6rem;
    color: #fff;
    padding-left: 2.5rem;
    background: url(../img/count.png) no-repeat;
    background-position: left center;
    background-size: 1.7rem auto;
    margin-top: 1.3rem;
}
.card {
    margin-top: 1.1rem;
    background-color: #fff;
}

.shop_box {
    padding: 1.4rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
}

.shop_box a {
    color: #a8a8a8;
}

.shop_box a.phone {
    font-size: 1.2rem;
    color: #6b6b6b;
    padding-left: 2rem;
    background: url(../img/phonebg.png) no-repeat;
    background-position: left center;
    background-size: 1.3rem auto;
}

.shop_box a.shop {
    padding-left: 2.5rem;
    background: url(../img/mendian.png) no-repeat;
    background-position: left center;
    background-size: 1.4rem auto;
}
.staff_info {
    padding: 1.5rem;
}

.staff_info img {
    float: left;
    width: 5.3rem;
    height: auto;
    border-radius: .2rem;
}

.staff_info .r_staff_info {
    padding-left: 6.7rem;
}

.staff_info .r_staff_info p {
    color: #a8a8a8;
    font-size: 1.2rem;
}

.staff_info .r_staff_info h3 {
    font-size: 1.5rem;
    line-height: 1.6rem;
    margin-bottom: 0.5rem;
}

.staff_info .r_staff_info h4 {
    color: #6b6b6b;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.staff_info .statu {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
}
.order_info {
    padding: 1.7rem 1.5rem .6rem;
}

.order_info.card ul li {
    line-height: 2.3rem;
    margin-bottom: 1rem;
    overflow: hidden;
}

.order_info.card ul li label {
    width: 7.5rem;
    text-align: left;
    float: left;
    color: #6b6b6b;
}

.order_info.card ul li p {
    padding-left: 7.5rem;
    color: #333333;
}
.address_s h3 {
        color: #333333;
    font-size: 1.4rem;
    background: url(../img/locationgr.png) no-repeat;
    background-position: left .4rem;
    background-size: 1.1rem;
    padding-left: 1.9rem;
}

.address_s h3 span {
    margin-left: 2.3rem;
}

.address_s p {
        color: #888888;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: .8rem 0 0 1.9rem;
    background-position: 0 1rem;
}

.address_s {
    padding: 1.5rem;
    margin-bottom: 2rem;
}
/* 底部按钮 */
.bottom_bt {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: .9rem 1.5rem 1rem;
    border-top: 1px solid #e6e6e6;
    background-color: #fff;
}

.bottom_bt a {
    display: inline-block;
    line-height: 3.1rem;
    width: 8rem;
    text-align: center;
    border-radius: .2rem;
    font-size: 1.4rem;
}


.bottom_bt a.bt_cancel {
    color: #6b6b6b;
}

.bottom_bt a.bt_pay {
    color: #fff;
    background-color: #ff9900;
}
/*取消预约*/
.cancelReservation-pop {
    width: 31rem;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -15.5rem;
    margin-top: -23rem;
    border-radius: 5px;
    z-index: 110;
      display: none;  
    border-radius: .4rem;
    overflow: hidden;
}
.cancelReservation-pop .top_title {
    padding: 2rem 1.5rem;
    background-color: #fafafa;
}

.cancelReservation-pop .top_title h2 {
    color: #333333;
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-bottom: 1rem;
}

.cancelReservation-pop .top_title p {
    line-height: 1.8rem;
    color: #888;
}

h3.alert_bg {
    height: 1.5rem;
    background: url(../img/alertbg.png) no-repeat;
    background-size: 100% 1.5rem;
    /* margin-top: -1px; */
}

.cancelReservation-pop .reason {
    background-color: #fafafa;
    padding: 1.8rem 2.5rem 2rem;
}

.reason h4 {
    font-size: 1.4rem;
    color: #4c4c4c;
    margin-bottom: .5rem;
}
.cancelReservation-pop .reason ul {
    position: relative;
}

.cancelReservation-pop .reason ul li {
    margin: 1.6rem 0;
    list-style: none;
    line-height: 1.3rem;
    font-size: 1.3rem;
    color: #808080;
    position: relative;
}

.radio_box {
    position: relative;
    height: 1.4rem;
    float: left;
    width: 1.4rem;
    margin-right: 1rem;
}
.reason ul li input[type='radio'] {
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
    height: 1.4rem;
    position: absolute;
    right: 0px;
    top: 0;
    left: 0;
    z-index: 3;
    margin: 0 !important;
    cursor: pointer;
}
.circle-box {
    background-color: #fff;
    width: 1.4rem;
    height: 1.4rem;
    border: 1px solid #d6d6d6;
    line-height: 1.1rem;
    text-align: center;
    box-sizing: border-box;
    z-index: 2;
    border-radius: 100%;
    cursor: pointer;
}
.circle-box span {
    width: .8rem;
    height: .8rem;
    background-color: #ff9900;
    border-radius: 100%;
    display: none;
    position: absolute;
    top: .3rem;
    left: .3rem;
}
.radio_box .active {
    border: 1px solid #ff9900;
}
.radio_box .active span {
    display: block;
}

.other_reason {
    display: none;
}

.other_reason textarea {
   border: 1px solid #d6d6d6;
    height: 3.4rem;
    font-size: 1.3rem;
    line-height: 1.6rem;
    width: 90%;
    padding: .5rem .5rem;
    resize: none;
}
p.promt {
    color: red;
    line-height: 2.7rem;
    position: absolute;
    bottom: -3.2rem;
    left: 2.2rem;
}
.cancelReservation-pop .crp-btn {background-color: #fff;height: 4.4rem;display: flex;display: -webkit-flex;border-top: 1px solid #d6d6d6;}
.cancelReservation-pop .crp-btn a {display: block;flex: 1;height: 100%;line-height: 4.4rem;text-align: center; color: #888888;}
.cancelReservation-pop .crp-btn .crpb-cancel {border-right: 1px solid #d6d6d6;}
.cancelReservation-pop .crp-btn a.orange {
    color: #ff9900;
}
